{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{article.title}}</title>
    <h1>Trang</h1>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
</head>
<div class="container">
    <ol class = "breadcrumb my-4">
        <li class = "breadcrumb-item "><a href="{%url 'home' %}">{{area.name}}</a></li>
            <li class = "breadcrumb-item ">{{article.title}}</li>
            <li class = "breadcrumb-item active">{{article.disp_date_limit}}</li>

    </ol>
    <p class ="text-justify">
        {{article.article}}
    </p>




</div>


</body>

</html>